<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        <a href="~/Home/AllMetodu" class="btn btn-success">All Metodu</a>
        <a href="~/Home/AnyMetodu" class="btn btn-success">Any Metodu</a>
        <a href="~/Home/ConcatMetodu" class="btn btn-success">Concat Metodu</a>
        <a href="~/Home/ContainsMetodu" class="btn btn-success">Contains Metodu</a>
        <a href="~/Home/DistinctMetodu" class="btn btn-success">Distinct Metodu</a>
        <a href="~/Home/ElementAtOrDefaultMetodu" class="btn btn-success">ElementAtOrDefault Metodu</a>
        <a href="~/Home/ExceptMetodu" class="btn btn-success">Except Metodu</a>
        <a href="~/Home/FindMetodu" class="btn btn-success">Find Metodu</a>
        <a href="~/Home/GroupByMetodu" class="btn btn-success">GroupBy Metodu</a>
        <a href="~/Home/GroupJoinMetodu" class="btn btn-success">GroupJoin Metodu</a>
        <a href="~/Home/LastOrDefaultMetodu" class="btn btn-success">LastOrDefault Metodu</a>
        <a href="~/Home/RemoveRangeMetodu" class="btn btn-success">RemoveRange Metodu</a>
        <a href="~/Home/OfTypeMetodu" class="btn btn-success">OfType Metodu</a>
        <a href="~/Home/SelectMetodu" class="btn btn-success">Select Metodu</a>
        <a href="~/Home/SelectMetodu2" class="btn btn-success">Select2 Metodu</a>
        <a href="~/Home/SelectManyMetodu" class="btn btn-success">SelectMany Metodu</a>
        <a href="~/Home/SkipMetodu" class="btn btn-success">Skip Metodu</a>
        <a href="~/Home/SqlQueryMetod" class="btn btn-info">SqlQuery Metodu</a>
        <a href="~/Home/SqlQueryMetodParametreIle" class="btn btn-info">SqlQuery Metodu Parametre ile</a>
        <a href="~/Home/SqlQueryMetodCustomModel" class="btn btn-info">SqlQuery Metodu Custom Model ile</a>
        <a href="~/Home/ThenByMetodu" class="btn btn-success">ThenBy Metodu</a>
        <a href="~/Home/AvarageMetodu" class="btn btn-success">Avarage Metodu</a>
        <a href="~/Home/StartWithMetodu" class="btn btn-success">StartWith Metodu</a>
        <a href="~/Home/EndsWithMetodu" class="btn btn-success">EndsWith Metodu</a>
        <a href="~/Home/SqlFunctionKullanma" class="btn btn-info">SqlFunction Kullanma</a>
        <a href="~/Home/KayitGuncellemePerformansli" class="btn btn-info">Kayıt Güncelleme Performansli</a>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>