@model IEnumerable<EfSampleQueries.Models.GroupByModel>

@{
    ViewBag.Title = "SqlQueryMetodCustomModel";
}

<h2>SqlQuery Metod Custom Model</h2>
<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamStok)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @item.ToplamStok.ToString()
        </td>
    </tr>
}

</table>
